.showCard {
    background-image: url('~assets/images/noPassBg.png');
    width: 100%;
    min-height: 100vh;
    background-color: #EEF4F6;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
    padding: 1.625rem 1rem;
}

.content {
    background: #FFFFFF;
    border-radius: .5rem;
    padding: 1.25rem .9375rem;
    text-align: center;

    li {
        color: #4C4C4C;
        font-size: 1rem;
        margin-bottom: 1.25rem;
        text-align: center;

    }

    .first {
        margin-top: 2.4375rem;

    }

    img {
        width: 12.25rem;
        margin-top: 1.625rem;
    }

    .time {
        color: #000000;
        font-size: 1.8rem;
        font-weight: bolder;
    }

    .outButton {
        text-align: center;
        margin-top: 1.5625rem;

        button {

            background: #2178F8;
            ;
            border-radius: 20px;
            width: 10.5rem;
            height: 2.5rem;
            color: #FFFFFF;
            font-size: 1rem;
            line-height:2.5rem;
        }
    }

}

.tishi {
    margin-top: 1.625rem;
    text-align: center;
    color: #555555;
    font-size: 1rem;
}